<!DOCTYPE html>
<html lang="en">

<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>פיצה צאלים</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
</head>

<body dir="rtl">
    <div class="steps">
        <div class="step step-1 active">
            <div class="center-me z-depth-5">
                <h1 class="hoverable ">פיצה צאלים</h1>
                <h3 class="">חווית הפיצה הטובה בעולם</h3>
                <a class="waves-effect waves-light btn-large z-depth-5 red btn-next">להזמנה</a>
            </div>
        </div>
        <div class="step step-2 ">
            <div class="section-2 row">
                <div class="section2-firsts col s6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{%static 'assets/imgs/firstDishjpg2.jpg' %}">
                        </div>
                        <span class="card-title activator ">מנות ראשונות</span>
                        <div class="card-content">
                            <button class="btn-large red">הוסף</button>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">מנות ראשונות<i
                                    class="material-icons right">X</i></span>
                            <p>סלטים, מאפים, זיווה ממולאת, סמבוסק בהרכבה, שקשוקה, פסטה, בייגל טוסט ועוד...</p>
                            <button class="btn-large red">הוסף</button>
                        </div>

                    </div>
                </div>

                <div class="section2-pitza col s6 l4">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{%static 'assets/imgs/pitzaImg2.jpeg' %}">
                        </div>
                        <span class="card-title activator">פיצות</span>
                        <div class="card-content">
                            <button class="btn-large red">הוסף</button>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">פיצות<i
                                    class="material-icons right">X</i></span>
                            <p>תוספות לפיצה: זיתים ירוקים | זיתים שחורים| פטריות | בצל | תירס| עגבניה | גמבה | פלפל חריף
                                | בולגרית | טונה | גבינה | ביצה קשה | אננס | חצילים | אנשובי</p>
                            <button class="btn-large red">הוסף</button>
                        </div>
                    </div>
                </div>


                <div class="col s6 l4">
                    <div class="card medium">
                        <div class="card-image">
                            <img class="activator" src="{%static 'assets/imgs/drinksImg3.jpg' %}"%>
                        </div>
                        <span class="card-title activator">שתייה</span>
                        <div class="card-content">
                            <button class="btn-large red">הוסף</button>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">שתייה<i
                                    class="material-icons right">X</i></span>
                            <p> פחית - 8 ש"ח | פחית בירה 1/2 ליטר 20 ש"ח | בקבוק 1/2 ליטר 9 ש"ח</p>
                            <button class="btn-large red">הוסף</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<link rel="stylesheet" href="{%static 'assets/css/indexStyle.css' %}">
<script>
    var state = {
        currentStep: 0,
    }
    var nextBtn = document.getElementsByClassName("btn-next")[0];
    nextBtn.addEventListener("click", () => {
        nextStep();
        var step1 = document.getElementsByClassName("step1")[0];
    });

    function nextStep() {
        
        var tl = gsap.timeline();
        /*
        tl.from('.steps > div:nth-child('+ (state.currentStep + 1) +')',1,{ y:'-100', opacity:0, ease: Elastic.easeOut })
            .to('.steps > div:nth-child('+ (state.currentStep + 1) +')',1,{ y:'0', opacity:0, ease: Elastic.easeIn } ,'+=1');
            */
        tl.to('.steps > div:nth-child('+ (state.currentStep + 1) +')', {opacity:0, duration: 0.2, onComplete:hideStep, onCompleteParams:[state.currentStep + 1]});
        tl.from('.steps > div:nth-child('+ (state.currentStep + 2) +')', {y:'-400', opacity:1, ease: Elastic.easeOut, duration: 2.5, onStart:showStep, onStartParams:[state.currentStep + 2]})
            .to('.steps > div:nth-child('+ (state.currentStep + 2) +')', {y:'0', opacity:1});
        state.currentStep+=1;
        //tl.from(('.steps > div:nth-child('+ (state.currentStep + 1) +')', {opacity:0}));
        /*
        var steps = document.querySelectorAll(".steps > div");
        steps[state.currentStep].classList.add("slide-out");
        //steps[state.currentStep].classList.remove("active");
        state.currentStep += 1;
        steps[state.currentStep].classList.add("active");
        console.log(steps);*/
    }
    function showStep(stepIndex) {
        var t = document.querySelectorAll('.steps > div:nth-child('+ stepIndex +')')[0];
        t.classList.add("active");
    }
    function hideStep(stepIndex) {
        var t = document.querySelectorAll('.steps > div:nth-child('+ stepIndex +')')[0];
        t.classList.remove("active");
    }
</script>

</html>